# Godot 4+ specific ignores
.godot/
/android/

# Godot-specific ignores
.import/
export.cfg
export_presets.cfg

# Imported translations (if not stored in res://)
*.translation

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# System/tool-specific ignores
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
*.swp
*~
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.stackdump

# Misc ignores
uv.lock
*.obj

